<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off"> 
    <h2 class="text-center text-primary">Sign up</h2> 
    <hr>   
      <div class="form-floating">
        <input type="text" 
        class="form-control" 
        placeholder="Username"
        name="username"
        [(ngModel)]="model.username"
        >
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" 
        class="form-control" 
        name ="password" 
        [(ngModel)]="model.password" 
        placeholder ="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="text-center ">
      <button class="btn w-47 btn-lg btn-success me-2" type="submit">Register</button>
      <button class="btn w-47 btn-lg btn-default" type="button" (click)="cancel()">Cancel</button>
      </div>

    </form>